# Lab Assignment 2: How to Load CSV, ASCII, and other data into Python
## DS 6001

100 points

### Instructions
Please answer the following questions as completely as possible using text, code, and the results of code as needed. Format your answers in a Jupyter notebook. To receive full credit, make sure you address every part of the problem, and make sure your document is formatted in a clean and professional way.

## Problem 1

There are several data files attached to this lab assignment, with different extensions. First, download all of these data files, and save them in the same folder on your local machine. Your task in the following questions is to load each file into Python correctly, so that you can begin the process of data cleaning. If the variable names are included in the file, use those names to name the columns. If the variable names are not included, use these names in order:

In [18]:
column_names = ["Country", "Happiness score", "Whisker-high", "Whisker-low", 
  "Dystopia (1.92) + residual", "Explained by: GDP per capita", 
  "Explained by: Social support", "Explained by: Healthy life expectancy", 
  "Explained by: Freedom to make life choices", "Explained by: Generosity", 
  "Explained by: Perceptions of corruption" ]

### Part a
Import the packages you will need. Then write code to change the working directory to the folder in which you saved the data files, run the code displayed above to create the `column_names` list, load `data_clean.csv`, and display the output of the `.info()` method of `data_clean`. [4 points]

In [2]:
import pandas as pd
import numpy as np
import os

In [4]:
os.chdir("lab data/lab data")

In [81]:
df_clean = pd.read_csv("data_clean.csv")

In [7]:
df_clean.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 156 entries, 0 to 155
Data columns (total 11 columns):
 #   Column                                      Non-Null Count  Dtype
---  ------                                      --------------  -----
 0   Country                                     156 non-null    object
 1   Happiness score                             156 non-null    float64
 2   Whisker-high                                156 non-null    float64
 3   Whisker-low                                 156 non-null    float64
 4   Dystopia (1.92) + residual                  156 non-null    float64
 5   Explained by: GDP per capita                156 non-null    float64
 6   Explained by: Social support                156 non-null    float64
 7   Explained by: Healthy life expectancy       156 non-null    float64
 8   Explained by: Freedom to make life choices  156 non-null    float64
 9   Explained by: Generosity                    156 non-null    float64
 10  Explained by: Perceptions of corruption     156 non-null    float64
dtypes: float64(10), object(1)
memory usage: 13.5+ KB

In [82]:
df_clean

,Country,Happiness score,Whisker-high,Whisker-low,Dystopia (1.92) + residual,Explained by: GDP per capita,Explained by: Social support,Explained by: Healthy life expectancy,Explained by: Freedom to make life choices,Explained by: Generosity,Explained by: Perceptions of corruption
0,Finland,7.632,7.695,7.569,2.595,1.305,1.592,0.874,0.681,0.192,0.393
1,Norway,7.594,7.657,7.530,2.383,1.456,1.582,0.861,0.686,0.286,0.340
2,Denmark,7.555,7.623,7.487,2.370,1.351,1.590,0.868,0.683,0.284,0.408
3,Iceland,7.495,7.593,7.398,2.426,1.343,1.644,0.914,0.677,0.353,0.138
4,Switzerland,7.487,7.570,7.405,2.320,1.420,1.549,0.927,0.660,0.256,0.357
...,...,...,...,...,...,...,...,...,...,...,...
151,Yemen,3.355,3.448,3.262,1.106,0.442,1.073,0.343,0.244,0.083,0.064
152,Tanzania,3.303,3.414,3.193,0.628,0.455,0.991,0.381,0.481,0.270,0.097
153,South Sudan,3.254,3.385,3.123,1.691,0.337,0.608,0.177,0.112,0.224,0.106
154,Central African Republic,3.083,3.227,2.939,2.487,0.024,0.000,0.010,0.305,0.218,0.038
155,Burundi,2.905,3.074,2.735,1.752,0.091,0.627,0.145,0.065,0.149,0.076

### Part b
Load `data1.csv`. Use the tools we discussed in class to decide whether the data file loaded correctly, and include that code in your lab report. In one or two sentences, describe how you decided on the right combination of parameters needed to load the data. [4 points]

In [8]:
df1 = pd.read_csv("data1.csv")

In [10]:
df1.head(3).T

,0,1,2
"Source: The World Happiness Report (2018), The Sustainable Development Solutions Network (SDSN)",URL: http://worldhappiness.report/ed/2018,Country,Finland
Unnamed: 1,NaN,Happiness score,7.632
Unnamed: 2,NaN,Whisker-high,7.695
Unnamed: 3,NaN,Whisker-low,7.569
Unnamed: 4,NaN,Dystopia (1.92) + residual,2.595
Unnamed: 5,NaN,Explained by: GDP per capita,1.305
Unnamed: 6,NaN,Explained by: Social support,1.592
Unnamed: 7,NaN,Explained by: Healthy life expectancy,0.874
Unnamed: 8,NaN,Explained by: Freedom to make life choices,0.681
Unnamed: 9,NaN,Explained by: Generosity,0.192
Unnamed: 10,NaN,Explained by: Perceptions of corruption,0.393

The df starts in the third row where the column nanes are located, so I need to find a parameter that reads in the df from the right row

In [10]:
df1 = pd.read_csv("data1.csv", skiprows=2)

In [15]:
df1.head(3).T

                                                  0       1        2
Country                                     Finland  Norway  Denmark
Happiness score                               7.632   7.594    7.555
Whisker-high                                  7.695   7.657    7.623
Whisker-low                                   7.569    7.53    7.487
Dystopia (1.92) + residual                    2.595   2.383     2.37
Explained by: GDP per capita                  1.305   1.456    1.351
Explained by: Social support                  1.592   1.582     1.59
Explained by: Healthy life expectancy         0.874   0.861    0.868
Explained by: Freedom to make life choices    0.681   0.686    0.683
Explained by: Generosity                      0.192   0.286    0.284
Explained by: Perceptions of corruption       0.393    0.34    0.408

In [11]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 156 entries, 0 to 155
Data columns (total 11 columns):
 #   Column                                      Non-Null Count  Dtype
---  ------                                      --------------  -----
 0   Country                                     156 non-null    object
 1   Happiness score                             156 non-null    float64
 2   Whisker-high                                156 non-null    float64
 3   Whisker-low                                 156 non-null    float64
 4   Dystopia (1.92) + residual                  156 non-null    float64
 5   Explained by: GDP per capita                156 non-null    float64
 6   Explained by: Social support                156 non-null    float64
 7   Explained by: Healthy life expectancy       156 non-null    float64
 8   Explained by: Freedom to make life choices  156 non-null    float64
 9   Explained by: Generosity                    156 non-null    float64
 10  Explained by: Perceptions of corruption     156 non-null    float64
dtypes: float64(10), object(1)
memory usage: 13.5+ KB

I noticed that the column names were in row 2, so I used the help function to find the parameter that would start reading in the df at the row I needed, which was 'skiprows'. I skipped 2 rows because the df started from 2 rows down.

### Part c
Load `data2.txt`. Use the tools we discussed in class to decide whether the data file loaded correctly, and include that code in your lab report. In one or two sentences, describe how you decided on the right combination of parameters needed to load the data. [6 points]

In [26]:
df2 = pd.read_csv("data2.txt")

In [27]:
df2.head(3).T

,0,1,2
"Source: The World Happiness Report (2018), The Sustainable Development Solutions Network (SDSN)",URL: http://worldhappiness.report/ed/2018,Country,"/The following countries comprise the ""very ha..."
Unnamed: 1,NaN,Happiness score,NaN
Unnamed: 2,NaN,Whisker-high,NaN
Unnamed: 3,NaN,Whisker-low,NaN
Unnamed: 4,NaN,Dystopia (1.92) + residual,NaN
Unnamed: 5,NaN,Explained by: GDP per capita,NaN
Unnamed: 6,NaN,Explained by: Social support,NaN
Unnamed: 7,NaN,Explained by: Healthy life expectancy,NaN
Unnamed: 8,NaN,Explained by: Freedom to make life choices,NaN
Unnamed: 9,NaN,Explained by: Generosity,NaN
Unnamed: 10,NaN,Explained by: Perceptions of corruption,NaN

In [ ]:
df2 = pd.read_csv("data2.txt", skiprows = 2)

In [29]:
df2.head(3).T

,0,1,2
Country,"/The following countries comprise the ""very ha...",Finland,Norway
Happiness score,NaN,7.632,7.594
Whisker-high,NaN,7.695,7.657
Whisker-low,NaN,7.569,7.53
Dystopia (1.92) + residual,NaN,2.595,2.383
Explained by: GDP per capita,NaN,1.305,1.456
Explained by: Social support,NaN,1.592,1.582
Explained by: Healthy life expectancy,NaN,0.874,0.861
Explained by: Freedom to make life choices,NaN,0.681,0.686
Explained by: Generosity,NaN,0.192,0.286
Explained by: Perceptions of corruption,NaN,0.393,0.34

In [12]:
df2 = pd.read_csv("data2.txt", skiprows = [0,1,3])

In [34]:
df2.head(3).T

                                                  0       1        2
Country                                     Finland  Norway  Denmark
Happiness score                               7.632   7.594    7.555
Whisker-high                                  7.695   7.657    7.623
Whisker-low                                   7.569    7.53    7.487
Dystopia (1.92) + residual                    2.595   2.383     2.37
Explained by: GDP per capita                  1.305   1.456    1.351
Explained by: Social support                  1.592   1.582     1.59
Explained by: Healthy life expectancy         0.874   0.861    0.868
Explained by: Freedom to make life choices    0.681   0.686    0.683
Explained by: Generosity                      0.192   0.286    0.284
Explained by: Perceptions of corruption       0.393    0.34    0.408

In [13]:
df2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 158 entries, 0 to 157
Data columns (total 11 columns):
 #   Column                                      Non-Null Count  Dtype
---  ------                                      --------------  -----
 0   Country                                     158 non-null    object
 1   Happiness score                             156 non-null    float64
 2   Whisker-high                                156 non-null    float64
 3   Whisker-low                                 156 non-null    float64
 4   Dystopia (1.92) + residual                  156 non-null    float64
 5   Explained by: GDP per capita                156 non-null    float64
 6   Explained by: Social support                156 non-null    float64
 7   Explained by: Healthy life expectancy       156 non-null    float64
 8   Explained by: Freedom to make life choices  156 non-null    float64
 9   Explained by: Generosity                    156 non-null    float64
 10  Explained by: Perceptions of corruption     156 non-null    float64
dtypes: float64(10), object(1)
memory usage: 13.7+ KB

I first used the method from pt b when I noticed that the first 2 rows needed to be skipped again, but after I ran that, I noticed that the new row 1 (row 3 from original file) also needed to be returned. I looked at the help documentation for read_csv again and noticed that skiprows could also take in a list of ints corresponsing to row indices, so I passed [0,1,3] that argument to get rid of all those rows

### Part d
Load `data3.txt`. Use the tools we discussed in class to decide whether the data file loaded correctly, and include that code in your lab report. In one or two sentences, describe how you decided on the right combination of parameters needed to load the data. [4 points]

In [35]:
df3 = pd.read_csv("data3.txt")

In [36]:
df3.head(3).T

,0,1,2
"Source: The World Happiness Report (2018), The Sustainable Development Solutions Network (SDSN)\t\t\t\t\t\t\t\t\t\t",URL: http://worldhappiness.report/ed/2018\t\t\...,Country\tHappiness score\tWhisker-high\tWhiske...,Finland\t7.632\t7.695\t7.569\t2.595\t1.305\t1....

In [37]:
df3 = pd.read_csv("data3.txt", sep="\t")

In [38]:
df3.head(3).T

,0,1,2
"Source: The World Happiness Report (2018), The Sustainable Development Solutions Network (SDSN)",URL: http://worldhappiness.report/ed/2018,Country,Finland
Unnamed: 1,NaN,Happiness score,7.632
Unnamed: 2,NaN,Whisker-high,7.695
Unnamed: 3,NaN,Whisker-low,7.569
Unnamed: 4,NaN,Dystopia (1.92) + residual,2.595
Unnamed: 5,NaN,Explained by: GDP per capita,1.305
Unnamed: 6,NaN,Explained by: Social support,1.592
Unnamed: 7,NaN,Explained by: Healthy life expectancy,0.874
Unnamed: 8,NaN,Explained by: Freedom to make life choices,0.681
Unnamed: 9,NaN,Explained by: Generosity,0.192
Unnamed: 10,NaN,Explained by: Perceptions of corruption,0.393

In [14]:
df3 = pd.read_csv("data3.txt", sep="\t", skiprows=2)

In [41]:
df3.head(3).T

                                                  0       1        2
Country                                     Finland  Norway  Denmark
Happiness score                               7.632   7.594    7.555
Whisker-high                                  7.695   7.657    7.623
Whisker-low                                   7.569    7.53    7.487
Dystopia (1.92) + residual                    2.595   2.383     2.37
Explained by: GDP per capita                  1.305   1.456    1.351
Explained by: Social support                  1.592   1.582     1.59
Explained by: Healthy life expectancy         0.874   0.861    0.868
Explained by: Freedom to make life choices    0.681   0.686    0.683
Explained by: Generosity                      0.192   0.286    0.284
Explained by: Perceptions of corruption       0.393    0.34    0.408

In [15]:
df3.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 156 entries, 0 to 155
Data columns (total 11 columns):
 #   Column                                      Non-Null Count  Dtype
---  ------                                      --------------  -----
 0   Country                                     156 non-null    object
 1   Happiness score                             156 non-null    float64
 2   Whisker-high                                156 non-null    float64
 3   Whisker-low                                 156 non-null    float64
 4   Dystopia (1.92) + residual                  156 non-null    float64
 5   Explained by: GDP per capita                156 non-null    float64
 6   Explained by: Social support                156 non-null    float64
 7   Explained by: Healthy life expectancy       156 non-null    float64
 8   Explained by: Freedom to make life choices  156 non-null    float64
 9   Explained by: Generosity                    156 non-null    float64
 10  Explained by: Perceptions of corruption     156 non-null    float64
dtypes: float64(10), object(1)
memory usage: 13.5+ KB

I first tried reading it in normally and noticed that there was only one column and everything was separated by '\t', so I looked at the help documentation and used sep = '\t' to separate out each of the columns. From there, I noticed that the first 2 columns needed to be removed, so I used skiprows=2 from the previous parts.

### Part e
Load `data4.txt`. Use the tools we discussed in class to decide whether the data file loaded correctly, and include that code in your lab report. In one or two sentences, describe how you decided on the right combination of parameters needed to load the data. [4 points]

In [43]:
df4 = pd.read_csv("data4.txt")

In [44]:
df4.head(3).T

,0,1,2
Finland$7.632$7.695$7.569$2.595$1.305$1.592$0.874$0.681$0.192$0.393,Norway$7.594$7.657$7.530$2.383$1.456$1.582$0.8...,Denmark$7.555$7.623$7.487$2.370$1.351$1.590$0....,Iceland$7.495$7.593$7.398$2.426$1.343$1.644$0....

In [45]:
df4 = pd.read_csv("data4.txt", sep="$")

In [46]:
df4.head(3).T

              0        1        2
Finland  Norway  Denmark  Iceland
7.632     7.594    7.555    7.495
7.695     7.657    7.623    7.593
7.569      7.53    7.487    7.398
2.595     2.383     2.37    2.426
1.305     1.456    1.351    1.343
1.592     1.582     1.59    1.644
0.874     0.861    0.868    0.914
0.681     0.686    0.683    0.677
0.192     0.286    0.284    0.353
0.393      0.34    0.408    0.138

In [19]:
df4 = pd.read_csv("data4.txt", sep="$", names=column_names)

In [49]:
df4.head(3).T

                                                  0       1        2
Country                                     Finland  Norway  Denmark
Happiness score                               7.632   7.594    7.555
Whisker-high                                  7.695   7.657    7.623
Whisker-low                                   7.569    7.53    7.487
Dystopia (1.92) + residual                    2.595   2.383     2.37
Explained by: GDP per capita                  1.305   1.456    1.351
Explained by: Social support                  1.592   1.582     1.59
Explained by: Healthy life expectancy         0.874   0.861    0.868
Explained by: Freedom to make life choices    0.681   0.686    0.683
Explained by: Generosity                      0.192   0.286    0.284
Explained by: Perceptions of corruption       0.393    0.34    0.408

In [20]:
df4.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 156 entries, 0 to 155
Data columns (total 11 columns):
 #   Column                                      Non-Null Count  Dtype
---  ------                                      --------------  -----
 0   Country                                     156 non-null    object
 1   Happiness score                             156 non-null    float64
 2   Whisker-high                                156 non-null    float64
 3   Whisker-low                                 156 non-null    float64
 4   Dystopia (1.92) + residual                  156 non-null    float64
 5   Explained by: GDP per capita                156 non-null    float64
 6   Explained by: Social support                156 non-null    float64
 7   Explained by: Healthy life expectancy       156 non-null    float64
 8   Explained by: Freedom to make life choices  156 non-null    float64
 9   Explained by: Generosity                    156 non-null    float64
 10  Explained by: Perceptions of corruption     156 non-null    float64
dtypes: float64(10), object(1)
memory usage: 13.5+ KB

After reading in the csv, I noticed that everything was in 1 column and values were separated by $ (dollar sign but it isn't showing up), so I applied sep = "$" (dollar sign but it isn't showing up) from the previous part. After that, I saw that there was no column name, so I looked at the help documentation and set names=column_names (the list of column names from the beginning) to add column names in.

### Part f
Load `data5.csv`. Use the tools we discussed in class to decide whether the data file loaded correctly, and include that code in your lab report. In one or two sentences, describe how you decided on the right combination of parameters needed to load the data. [4 points]

In [21]:
df5 = pd.read_csv("data5.csv")

In [53]:
df5.head(3).T

                                                  0       1        2
Country                                     Finland  Norway  Denmark
Happiness score                               7.632   7.594    7.555
Whisker-high                                  7.695   7.657    7.623
Whisker-low                                   7.569    7.53    7.487
Dystopia (1.92) + residual                    2.595   2.383     2.37
Explained by: GDP per capita                  1.305   1.456    1.351
Explained by: Social support                  1.592   1.582     1.59
Explained by: Healthy life expectancy         0.874   0.861    0.868
Explained by: Freedom to make life choices    0.681   0.686    0.683
Explained by: Generosity                      0.192   0.286    0.284
Explained by: Perceptions of corruption       0.393    0.34    0.408

In [22]:
df5.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 158 entries, 0 to 157
Data columns (total 11 columns):
 #   Column                                      Non-Null Count  Dtype
---  ------                                      --------------  -----
 0   Country                                     158 non-null    object
 1   Happiness score                             156 non-null    float64
 2   Whisker-high                                156 non-null    float64
 3   Whisker-low                                 156 non-null    float64
 4   Dystopia (1.92) + residual                  156 non-null    float64
 5   Explained by: GDP per capita                156 non-null    float64
 6   Explained by: Social support                156 non-null    float64
 7   Explained by: Healthy life expectancy       156 non-null    float64
 8   Explained by: Freedom to make life choices  156 non-null    float64
 9   Explained by: Generosity                    156 non-null    float64
 10  Explained by: Perceptions of corruption     156 non-null    float64
dtypes: float64(10), object(1)
memory usage: 13.7+ KB

In [78]:
df5 = pd.read_csv("data5.csv", skiprows=[157, 158])

In [79]:
df5.head(3).T

                                                  0       1        2
Country                                     Finland  Norway  Denmark
Happiness score                               7.632   7.594    7.555
Whisker-high                                  7.695   7.657    7.623
Whisker-low                                   7.569    7.53    7.487
Dystopia (1.92) + residual                    2.595   2.383     2.37
Explained by: GDP per capita                  1.305   1.456    1.351
Explained by: Social support                  1.592   1.582     1.59
Explained by: Healthy life expectancy         0.874   0.861    0.868
Explained by: Freedom to make life choices    0.681   0.686    0.683
Explained by: Generosity                      0.192   0.286    0.284
Explained by: Perceptions of corruption       0.393    0.34    0.408

In [80]:
df5.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 156 entries, 0 to 155
Data columns (total 11 columns):
 #   Column                                      Non-Null Count  Dtype
---  ------                                      --------------  -----
 0   Country                                     156 non-null    object
 1   Happiness score                             156 non-null    float64
 2   Whisker-high                                156 non-null    float64
 3   Whisker-low                                 156 non-null    float64
 4   Dystopia (1.92) + residual                  156 non-null    float64
 5   Explained by: GDP per capita                156 non-null    float64
 6   Explained by: Social support                156 non-null    float64
 7   Explained by: Healthy life expectancy       156 non-null    float64
 8   Explained by: Freedom to make life choices  156 non-null    float64
 9   Explained by: Generosity                    156 non-null    float64
 10  Explained by: Perceptions of corruption     156 non-null    float64
dtypes: float64(10), object(1)
memory usage: 13.5+ KB

Looked normal at first glance, but then I ran .info() and then with that and the .head().T, I noticed that there were 2 extra non-null values at the end of country, so I skipped the last 2 rows

### Part g
Load `data6.dat`. Use the tools we discussed in class to decide whether the data file loaded correctly, and include that code in your lab report. In one or two sentences, describe how you decided on the right combination of parameters needed to load the data. (Note: for this question, your result won't look *exactly* like data_clean.csv, and that is OK.) [6 points]

In [88]:
df6 = pd.read_csv("data6.dat")

In [9]:
df6.head(3).T

                                                  0       1        2
Country                                     Finland  Norway  Denmark
Happiness score                               7.632   7.594    7.555
Whisker-high                                  7.695   7.657    7.623
Whisker-low                                   7.569    7.53    7.487
Dystopia (1.92) + residual                    2.595   999.0     2.37
Explained by: GDP per capita                  999.0   999.0    1.351
Explained by: Social support                  999.0   1.582     1.59
Explained by: Healthy life expectancy         999.0   999.0    999.0
Explained by: Freedom to make life choices    0.681   0.686    0.683
Explained by: Generosity                      0.192   0.286    0.284
Explained by: Perceptions of corruption       0.393    0.34    0.408

In [23]:
df6.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 156 entries, 0 to 155
Data columns (total 11 columns):
 #   Column                                      Non-Null Count  Dtype
---  ------                                      --------------  -----
 0   Country                                     156 non-null    object
 1   Happiness score                             156 non-null    float64
 2   Whisker-high                                156 non-null    float64
 3   Whisker-low                                 156 non-null    float64
 4   Dystopia (1.92) + residual                  156 non-null    float64
 5   Explained by: GDP per capita                156 non-null    float64
 6   Explained by: Social support                156 non-null    float64
 7   Explained by: Healthy life expectancy       156 non-null    float64
 8   Explained by: Freedom to make life choices  156 non-null    float64
 9   Explained by: Generosity                    156 non-null    float64
 10  Explained by: Perceptions of corruption     156 non-null    float64
dtypes: float64(10), object(1)
memory usage: 13.5+ KB

I tried reading from read_stata but, that gave an error, so instead, I tried reading it with read_csv, and that worked.

### Part h
Load `data7.xlsx`, which is an Excel file. Keep only the sheet named “Data”. Use the tools we discussed in class to decide whether the data file loaded correctly, and include that code in your lab report. In one or two sentences, describe how you decided on the right combination of parameters needed to load the data. [4 points]

In [26]:
df7 = pd.read_excel("data7.xlsx", sheet_name="Data")

In [ ]:
help(pd.read_excel)

Help on function read_excel in module pandas.io.excel._base:

read_excel(
    io,
    sheet_name: 'str | int | list[IntStrT] | None' = 0,
    *,
    header: 'int | Sequence[int] | None' = 0,
    names: 'SequenceNotStr[Hashable] | range | None' = None,
    index_col: 'int | str | Sequence[int] | None' = None,
    usecols: 'int | str | Sequence[int] | Sequence[str] | Callable[[str], bool] | None' = None,
    dtype: 'DtypeArg | None' = None,
    engine: "Literal['xlrd', 'openpyxl', 'odf', 'pyxlsb', 'calamine'] | None" = None,
    converters: 'dict[str, Callable] | dict[int, Callable] | None' = None,
    true_values: 'Iterable[Hashable] | None' = None,
    false_values: 'Iterable[Hashable] | None' = None,
    skiprows: 'Sequence[int] | int | Callable[[int], object] | None' = None,
    nrows: 'int | None' = None,
    na_values=None,
    keep_default_na: 'bool' = True,
    na_filter: 'bool' = True,
    verbose: 'bool' = False,
    parse_dates: 'list | dict | bool' = False,
    date_parser: 'Callable | lib.NoDefault' = <no_default>,
    date_format: 'dict[Hashable, str] | str | None' = None,
    thousands: 'str | None' = None,
    decimal: 'str' = '.',
    comment: 'str | None' = None,
    skipfooter: 'int' = 0,
    storage_options: 'StorageOptions | None' = None,
    dtype_backend: 'DtypeBackend | lib.NoDefault' = <no_default>,
    engine_kwargs: 'dict | None' = None
) -> 'DataFrame | dict[IntStrT, DataFrame]'
    Read an Excel file into a ``pandas`` ``DataFrame``.

    Supports `xls`, `xlsx`, `xlsm`, `xlsb`, `odf`, `ods` and `odt` file extensions
    read from a local filesystem or URL. Supports an option to read
    a single sheet or a list of sheets.

    Parameters
    ----------
    io : str, bytes, ExcelFile, xlrd.Book, path object, or file-like object
        Any valid string path is acceptable. The string could be a URL. Valid
        URL schemes include http, ftp, s3, and file. For file URLs, a host is
        expected. A local file could be: ``file://localhost/path/to/table.xlsx``.

        If you want to pass in a path object, pandas accepts any ``os.PathLike``.

        By file-like object, we refer to objects with a ``read()`` method,
        such as a file handle (e.g. via builtin ``open`` function)
        or ``StringIO``.

        .. deprecated:: 2.1.0
            Passing byte strings is deprecated. To read from a
            byte string, wrap it in a ``BytesIO`` object.
    sheet_name : str, int, list, or None, default 0
        Strings are used for sheet names. Integers are used in zero-indexed
        sheet positions (chart sheets do not count as a sheet position).
        Lists of strings/integers are used to request multiple sheets.
        Specify ``None`` to get all worksheets.

        Available cases:

        * Defaults to ``0``: 1st sheet as a `DataFrame`
        * ``1``: 2nd sheet as a `DataFrame`
        * ``"Sheet1"``: Load sheet with name "Sheet1"
        * ``[0, 1, "Sheet5"]``: Load first, second and sheet named "Sheet5"
          as a dict of `DataFrame`
        * ``None``: All worksheets.

    header : int, list of int, default 0
        Row (0-indexed) to use for the column labels of the parsed
        DataFrame. If a list of integers is passed those row positions will
        be combined into a ``MultiIndex``. Use None if there is no header.
    names : array-like, default None
        List of column names to use. If file contains no header row,
        then you should explicitly pass header=None.
    index_col : int, str, list of int, default None
        Column (0-indexed) to use as the row labels of the DataFrame.
        Pass None if there is no such column.  If a list is passed,
        those columns will be combined into a ``MultiIndex``.  If a
        subset of data is selected with ``usecols``, index_col
        is based on the subset.

        Missing values will be forward filled to allow roundtripping with
        ``to_excel`` for ``merged_cells=True``. To avoid forward filling the
        missing values use ``set_index`` after reading the data instead of
        ``index_col``.
    usecols : str, list-like, or callable, default None
        * If None, then parse all columns.
        * If str, then indicates comma separated list of Excel column letters
          and column ranges (e.g. "A:E" or "A,C,E:F"). Ranges are inclusive of
          both sides.
        * If list of int, then indicates list of column numbers to be parsed
          (0-indexed).
        * If list of string, then indicates list of column names to be parsed.
        * If callable, then evaluate each column name against it and parse the
          column if the callable returns ``True``.

        Returns a subset of the columns according to behavior above.
    dtype : Type name or dict of column -> type, default None
        Data type for data or columns. E.g. {'a': np.float64, 'b': np.int32}
        Use ``object`` to preserve data as stored in Excel and not interpret dtype,
        which will necessarily result in ``object`` dtype.
        If converters are specified, they will be applied INSTEAD
        of dtype conversion.
        If you use ``None``, it will infer the dtype of each column based on the data.
    engine : {'openpyxl', 'calamine', 'odf', 'pyxlsb', 'xlrd'}, default None
        If io is not a buffer or path, this must be set to identify io.
        Engine compatibility :

        - ``openpyxl`` supports newer Excel file formats.
        - ``calamine`` supports Excel (.xls, .xlsx, .xlsm, .xlsb)
          and OpenDocument (.ods) file formats.
        - ``odf`` supports OpenDocument file formats (.odf, .ods, .odt).
        - ``pyxlsb`` supports Binary Excel files.
        - ``xlrd`` supports old-style Excel files (.xls).

        When ``engine=None``, the following logic will be used to determine the engine:

        - If ``path_or_buffer`` is an OpenDocument format (.odf, .ods, .odt),
          then `odf <https://pypi.org/project/odfpy/>`_ will be used.
        - Otherwise if ``path_or_buffer`` is an xls format, ``xlrd`` will be used.
        - Otherwise if ``path_or_buffer`` is in xlsb format, ``pyxlsb`` will be used.
        - Otherwise ``openpyxl`` will be used.
    converters : dict, default None
        Dict of functions for converting values in certain columns. Keys can
        either be integers or column labels, values are functions that take one
        input argument, the Excel cell content, and return the transformed
        content.
    true_values : list, default None
        Values to consider as True.
    false_values : list, default None
        Values to consider as False.
    skiprows : list-like, int, or callable, optional
        Line numbers to skip (0-indexed) or number of lines to skip (int) at the
        start of the file. If callable, the callable function will be evaluated
        against the row indices, returning True if the row should be skipped and
        False otherwise. An example of a valid callable argument would be ``lambda
        x: x in [0, 2]``.
    nrows : int, default None
        Number of rows to parse.
    na_values : scalar, str, list-like, or dict, default None
        Additional strings to recognize as NA/NaN. If dict passed, specific
        per-column NA values. By default the following values are interpreted
        as NaN: '', '#N/A', '#N/A N/A', '#NA', '-1.#IND', '-1.#QNAN', '-NaN', '-nan',
        '1.#IND', '1.#QNAN', '<NA>', 'N/A', 'NA', 'NULL', 'NaN', 'None',
        'n/a', 'nan', 'null'.
    keep_default_na : bool, default True
        Whether or not to include the default NaN values when parsing the data.
        Depending on whether ``na_values`` is passed in, the behavior is as follows:

        * If ``keep_default_na`` is True, and ``na_values`` are specified,
          ``na_values`` is appended to the default NaN values used for parsing.
        * If ``keep_default_na`` is True, and ``na_values`` are not specified, only
          the default NaN values are used for parsing.
        * If ``keep_default_na`` is False, and ``na_values`` are specified, only
          the NaN values specified ``na_values`` are used for parsing.
        * If ``keep_default_na`` is False, and ``na_values`` are not specified, no
          strings will be parsed as NaN.

        Note that if `na_filter` is passed in as False, the ``keep_default_na`` and
        ``na_values`` parameters will be ignored.
    na_filter : bool, default True
        Detect missing value markers (empty strings and the value of na_values). In
        data without any NAs, passing ``na_filter=False`` can improve the
        performance of reading a large file.
    verbose : bool, default False
        Indicate number of NA values placed in non-numeric columns.
    parse_dates : bool, list-like, or dict, default False
        The behavior is as follows:

        * ``bool``. If True -> try parsing the index.
        * ``list`` of int or names. e.g. If [1, 2, 3] -> try parsing columns 1, 2, 3
          each as a separate date column.
        * ``list`` of lists. e.g.  If [[1, 3]] -> combine columns 1 and 3 and parse as
          a single date column.
        * ``dict``, e.g. {'foo' : [1, 3]} -> parse columns 1, 3 as date and call
          result 'foo'

        If a column or index contains an unparsable date, the entire column or
        index will be returned unaltered as an object data type. If you don`t want to
        parse some cells as date just change their type in Excel to "Text".
        For non-standard datetime parsing, use ``pd.to_datetime`` after ``pd.read_excel``.

        Note: A fast-path exists for iso8601-formatted dates.
    date_parser : function, optional
        Function to use for converting a sequence of string columns to an array of
        datetime instances. The default uses ``dateutil.parser.parser`` to do the
        conversion. Pandas will try to call `date_parser` in three different ways,
        advancing to the next if an exception occurs: 1) Pass one or more arrays
        (as defined by `parse_dates`) as arguments; 2) concatenate (row-wise) the
        string values from the columns defined by `parse_dates` into a single array
        and pass that; and 3) call `date_parser` once for each row using one or
        more strings (corresponding to the columns defined by `parse_dates`) as
        arguments.

        .. deprecated:: 2.0.0
           Use ``date_format`` instead, or read in as ``object`` and then apply
           :func:`to_datetime` as-needed.
    date_format : str or dict of column -> format, default ``None``
       If used in conjunction with ``parse_dates``, will parse dates according to this
       format. For anything more complex,
       please read in as ``object`` and then apply :func:`to_datetime` as-needed.

       .. versionadded:: 2.0.0
    thousands : str, default None
        Thousands separator for parsing string columns to numeric.  Note that
        this parameter is only necessary for columns stored as TEXT in Excel,
        any numeric columns will automatically be parsed, regardless of display
        format.
    decimal : str, default '.'
        Character to recognize as decimal point for parsing string columns to numeric.
        Note that this parameter is only necessary for columns stored as TEXT in Excel,
        any numeric columns will automatically be parsed, regardless of display
        format.(e.g. use ',' for European data).

        .. versionadded:: 1.4.0

    comment : str, default None
        Comments out remainder of line. Pass a character or characters to this
        argument to indicate comments in the input file. Any data between the
        comment string and the end of the current line is ignored.
    skipfooter : int, default 0
        Rows at the end to skip (0-indexed).
    storage_options : dict, optional
        Extra options that make sense for a particular storage connection, e.g.
        host, port, username, password, etc. For HTTP(S) URLs the key-value pairs
        are forwarded to ``urllib.request.Request`` as header options. For other
        URLs (e.g. starting with "s3://", and "gcs://") the key-value pairs are
        forwarded to ``fsspec.open``. Please see ``fsspec`` and ``urllib`` for more
        details, and for more examples on storage options refer `here
        <https://pandas.pydata.org/docs/user_guide/io.html?
        highlight=storage_options#reading-writing-remote-files>`_.

    dtype_backend : {'numpy_nullable', 'pyarrow'}, default 'numpy_nullable'
        Back-end data type applied to the resultant :class:`DataFrame`
        (still experimental). Behaviour is as follows:

        * ``"numpy_nullable"``: returns nullable-dtype-backed :class:`DataFrame`
          (default).
        * ``"pyarrow"``: returns pyarrow-backed nullable :class:`ArrowDtype`
          DataFrame.

        .. versionadded:: 2.0

    engine_kwargs : dict, optional
        Arbitrary keyword arguments passed to excel engine.

    Returns
    -------
    DataFrame or dict of DataFrames
        DataFrame from the passed in Excel file. See notes in sheet_name
        argument for more information on when a dict of DataFrames is returned.

    See Also
    --------
    DataFrame.to_excel : Write DataFrame to an Excel file.
    DataFrame.to_csv : Write DataFrame to a comma-separated values (csv) file.
    read_csv : Read a comma-separated values (csv) file into DataFrame.
    read_fwf : Read a table of fixed-width formatted lines into DataFrame.

    Notes
    -----
    For specific information on the methods used for each Excel engine, refer to the pandas
    :ref:`user guide <io.excel_reader>`

    Examples
    --------
    The file can be read using the file name as string or an open file object:

    >>> pd.read_excel('tmp.xlsx', index_col=0)  # doctest: +SKIP
           Name  Value
    0   string1      1
    1   string2      2
    2  #Comment      3

    >>> pd.read_excel(open('tmp.xlsx', 'rb'),
    ...               sheet_name='Sheet3')  # doctest: +SKIP
       Unnamed: 0      Name  Value
    0           0   string1      1
    1           1   string2      2
    2           2  #Comment      3

    Index and header can be specified via the `index_col` and `header` arguments

    >>> pd.read_excel('tmp.xlsx', index_col=None, header=None)  # doctest: +SKIP
         0         1      2
    0  NaN      Name  Value
    1  0.0   string1      1
    2  1.0   string2      2
    3  2.0  #Comment      3

    Column types are inferred but can be explicitly specified

    >>> pd.read_excel('tmp.xlsx', index_col=0,
    ...               dtype={'Name': str, 'Value': float})  # doctest: +SKIP
           Name  Value
    0   string1    1.0
    1   string2    2.0
    2  #Comment    3.0

    True, False, and NA values, and thousands separators have defaults,
    but can be explicitly specified, too. Supply the values you would like
    as strings or lists of strings!

    >>> pd.read_excel('tmp.xlsx', index_col=0,
    ...               na_values=['string1', 'string2'])  # doctest: +SKIP
           Name  Value
    0       NaN      1
    1       NaN      2
    2  #Comment      3

    Comment lines in the excel input file can be skipped using the
    ``comment`` kwarg.

    >>> pd.read_excel('tmp.xlsx', index_col=0, comment='#')  # doctest: +SKIP
          Name  Value
    0  string1    1.0
    1  string2    2.0
    2     None    NaN

In [27]:
df7.head(3).T

                                                  0       1        2
Country                                     Finland  Norway  Denmark
Happiness score                               7.632   7.594    7.555
Whisker-high                                  7.695   7.657    7.623
Whisker-low                                   7.569    7.53    7.487
Dystopia (1.92) + residual                    2.595   2.383     2.37
Explained by: GDP per capita                  1.305   1.456    1.351
Explained by: Social support                  1.592   1.582     1.59
Explained by: Healthy life expectancy         0.874   0.861    0.868
Explained by: Freedom to make life choices    0.681   0.686    0.683
Explained by: Generosity                      0.192   0.286    0.284
Explained by: Perceptions of corruption       0.393    0.34    0.408

In [28]:
df7.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 156 entries, 0 to 155
Data columns (total 11 columns):
 #   Column                                      Non-Null Count  Dtype
---  ------                                      --------------  -----
 0   Country                                     156 non-null    object
 1   Happiness score                             156 non-null    float64
 2   Whisker-high                                156 non-null    float64
 3   Whisker-low                                 156 non-null    float64
 4   Dystopia (1.92) + residual                  156 non-null    float64
 5   Explained by: GDP per capita                156 non-null    float64
 6   Explained by: Social support                156 non-null    float64
 7   Explained by: Healthy life expectancy       156 non-null    float64
 8   Explained by: Freedom to make life choices  156 non-null    float64
 9   Explained by: Generosity                    156 non-null    float64
 10  Explained by: Perceptions of corruption     156 non-null    float64
dtypes: float64(10), object(1)
memory usage: 13.5+ KB

I noticed the file was a .xlsx, so I used read_excel from pandas. we needed data from just one sheet, so I set the sheet_name ="Data", the sheet_name that stored the relevant info.

### Part i
Load `data8.dta`, which is a Stata 13 file. Use the tools we discussed in class to decide whether the data file loaded correctly, and include that code in your lab report. In one or two sentences, describe how you decided on the right combination of parameters needed to load the data. [4 points]

In [29]:
df8 = pd.read_stata('data8.dta')

In [30]:
df8.head(3).T

                                        0       1        2
country                           Finland  Norway  Denmark
happinessscore                      7.632   7.594    7.555
whiskerhigh                         7.695   7.657    7.623
whiskerlow                          7.569    7.53    7.487
dystopia192residual                 2.595   2.383     2.37
explainedbygdppercapita             1.305   1.456    1.351
explainedbysocialsupport            1.592   1.582     1.59
explainedbyhealthylifeexpectancy    0.874   0.861    0.868
explainedbyfreedomtomakelifechoi    0.681   0.686    0.683
explainedbygenerosity               0.192   0.286    0.284
explainedbyperceptionsofcorrupti    0.393    0.34    0.408

In [36]:
df8.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 156 entries, 0 to 155
Data columns (total 11 columns):
 #   Column                            Non-Null Count  Dtype
---  ------                            --------------  -----
 0   country                           156 non-null    object
 1   happinessscore                    156 non-null    float32
 2   whiskerhigh                       156 non-null    float32
 3   whiskerlow                        156 non-null    float32
 4   dystopia192residual               156 non-null    float32
 5   explainedbygdppercapita           156 non-null    float32
 6   explainedbysocialsupport          156 non-null    float32
 7   explainedbyhealthylifeexpectancy  156 non-null    float32
 8   explainedbyfreedomtomakelifechoi  156 non-null    float32
 9   explainedbygenerosity             156 non-null    float32
 10  explainedbyperceptionsofcorrupti  156 non-null    float32
dtypes: float32(10), object(1)
memory usage: 7.4+ KB

In [84]:
df8 = pd.read_stata('data8.dta', preserve_dtypes=False)

In [85]:
df8.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 156 entries, 0 to 155
Data columns (total 11 columns):
 #   Column                            Non-Null Count  Dtype
---  ------                            --------------  -----
 0   country                           156 non-null    object
 1   happinessscore                    156 non-null    float64
 2   whiskerhigh                       156 non-null    float64
 3   whiskerlow                        156 non-null    float64
 4   dystopia192residual               156 non-null    float64
 5   explainedbygdppercapita           156 non-null    float64
 6   explainedbysocialsupport          156 non-null    float64
 7   explainedbyhealthylifeexpectancy  156 non-null    float64
 8   explainedbyfreedomtomakelifechoi  156 non-null    float64
 9   explainedbygenerosity             156 non-null    float64
 10  explainedbyperceptionsofcorrupti  156 non-null    float64
dtypes: float64(10), object(1)
memory usage: 13.5+ KB

I noticed that the types for the numeric columns were float32, so after looking at help documentation, i noticedc that if I set parameter preserve_dtypes to False, it would convert them to float64

### Part j
Load `data9.sav`, which is an SPSS file. Use the tools we discussed in class to decide whether the data file loaded correctly, and include that code in your lab report. In one or two sentences, describe how you decided on the right combination of parameters needed to load the data. [4 points]

In [34]:
df9 = pd.read_spss('data9.sav')

In [35]:
df9.head(3).T

                   0       1        2
country      Finland  Norway  Denmark
happiness      7.632   7.594    7.555
whiskerhigh    7.695   7.657    7.623
whiskerlow     7.569    7.53    7.487
dystopia       2.595   2.383     2.37
gdpPC          1.305   1.456    1.351
socsupport     1.592   1.582     1.59
lifeexp        0.874   0.861    0.868
lifechoice     0.681   0.686    0.683
generous       0.192   0.286    0.284
corrupt        0.393    0.34    0.408

In [38]:
df9.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 156 entries, 0 to 155
Data columns (total 11 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   country      156 non-null    object
 1   happiness    156 non-null    float64
 2   whiskerhigh  156 non-null    float64
 3   whiskerlow   156 non-null    float64
 4   dystopia     156 non-null    float64
 5   gdpPC        156 non-null    float64
 6   socsupport   156 non-null    float64
 7   lifeexp      156 non-null    float64
 8   lifechoice   156 non-null    float64
 9   generous     156 non-null    float64
 10  corrupt      156 non-null    float64
dtypes: float64(10), object(1)
memory usage: 13.5+ KB

### Part k
Load `data10.xpt`, which is a SAS file. Use the tools we discussed in class to decide whether the data file loaded correctly, and include that code in your lab report. In one or two sentences, describe how you decided on the right combination of parameters needed to load the data. 

(If some of the country names display as `b'Finland'`, don't worry about that.)

(But if you are still worrying about it ... issues like `b'Finland'` indicate a [character encoding](https://en.wikipedia.org/wiki/Character_encoding) issue, in which SAS uses a different encoding method than Python. In this case Python uses a default encoding called [UTF-8](https://en.wikipedia.org/wiki/UTF-8) and this SAS file has encoded characters using [Latin-1](https://en.wikipedia.org/wiki/ISO/IEC_8859-1). To get around this issue, add the `encoding='latin-1'` argument to your read method.) 

[4 points]

In [39]:
df10 = pd.read_sas('data10.xpt')

In [40]:
df10.head(3).T

                   0          1           2
COUNTRY   b'Finland'  b'Norway'  b'Denmark'
HAPPINES       7.632      7.594       7.555
WHISKERH       7.695      7.657       7.623
WHISKERL       7.569       7.53       7.487
DYSTOPIA       2.595      2.383        2.37
EXPLAINE       1.305      1.456       1.351
EXPLAIN2       1.592      1.582        1.59
EXPLAIN3       0.874      0.861       0.868
EXPLAIN4       0.681      0.686       0.683
EXPLAIN5       0.192      0.286       0.284
EXPLAIN6       0.393       0.34       0.408

In [41]:
df10 = pd.read_sas('data10.xpt', encoding='latin-1')

In [42]:
df10.head(3).T

                0       1        2
COUNTRY   Finland  Norway  Denmark
HAPPINES    7.632   7.594    7.555
WHISKERH    7.695   7.657    7.623
WHISKERL    7.569    7.53    7.487
DYSTOPIA    2.595   2.383     2.37
EXPLAINE    1.305   1.456    1.351
EXPLAIN2    1.592   1.582     1.59
EXPLAIN3    0.874   0.861    0.868
EXPLAIN4    0.681   0.686    0.683
EXPLAIN5    0.192   0.286    0.284
EXPLAIN6    0.393    0.34    0.408

In [43]:
df10.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 156 entries, 0 to 155
Data columns (total 11 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   COUNTRY   156 non-null    object
 1   HAPPINES  156 non-null    float64
 2   WHISKERH  156 non-null    float64
 3   WHISKERL  156 non-null    float64
 4   DYSTOPIA  156 non-null    float64
 5   EXPLAINE  156 non-null    float64
 6   EXPLAIN2  156 non-null    float64
 7   EXPLAIN3  156 non-null    float64
 8   EXPLAIN4  156 non-null    float64
 9   EXPLAIN5  156 non-null    float64
 10  EXPLAIN6  156 non-null    float64
dtypes: float64(10), object(1)
memory usage: 13.5+ KB

### Part l
Please load the `data11.txt` file, which is a fixed width file. The columns are defined as follows:

| Variable                                   | Width | Start | End |
|--------------------------------------------|-------|-------|-----|
| Country                                    | 24    | 1     | 24  |
| Happiness score                            | 5     | 25    | 29  |
| Whisker-high                               | 5     | 30    | 34  |
| Whisker-low                                | 5     | 35    | 39  |
| Dystopia (1.92) + residual                 | 5     | 40    | 44  |
| Explained by: GDP per capita               | 5     | 45    | 49  |
| Explained by: Social support               | 5     | 50    | 54  |
| Explained by: Healthy life expectancy      | 5     | 55    | 59  |
| Explained by: Freedom to make life choices | 5     | 60    | 64  |
| Explained by: Generosity                   | 5     | 65    | 69  |
| Explained by: Perceptions of corruption    | 5     | 70    | 74  |

Then save the this loaded data frame as a CSV file on your local machine. Be sure to use a unique filename so as not to overwrite any existing files. [10 points]

In [ ]:
df11 = pd.read_fwf('data11.txt', widths=[24, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5])

In [50]:
df11.head(3).T

              0        1        2
Finland  Norway  Denmark  Iceland
7.632     7.594    7.555    7.495
7.695     7.657    7.623    7.593
7.569      7.53    7.487    7.398
2.595     2.383     2.37    2.426
1.305     1.456    1.351    1.343
1.592     1.582     1.59    1.644
0.874     0.861    0.868    0.914
0.681     0.686    0.683    0.677
0.192     0.286    0.284    0.353
0.393      0.34    0.408    0.138

In [52]:
df11 = pd.read_fwf('data11.txt', widths=[24, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5], names = column_names)

In [53]:
df11.head(3).T

                                                  0       1        2
Country                                     Finland  Norway  Denmark
Happiness score                               7.632   7.594    7.555
Whisker-high                                  7.695   7.657    7.623
Whisker-low                                   7.569    7.53    7.487
Dystopia (1.92) + residual                    2.595   2.383     2.37
Explained by: GDP per capita                  1.305   1.456    1.351
Explained by: Social support                  1.592   1.582     1.59
Explained by: Healthy life expectancy         0.874   0.861    0.868
Explained by: Freedom to make life choices    0.681   0.686    0.683
Explained by: Generosity                      0.192   0.286    0.284
Explained by: Perceptions of corruption       0.393    0.34    0.408

In [54]:
df11.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 156 entries, 0 to 155
Data columns (total 11 columns):
 #   Column                                      Non-Null Count  Dtype
---  ------                                      --------------  -----
 0   Country                                     156 non-null    object
 1   Happiness score                             156 non-null    float64
 2   Whisker-high                                156 non-null    float64
 3   Whisker-low                                 156 non-null    float64
 4   Dystopia (1.92) + residual                  156 non-null    float64
 5   Explained by: GDP per capita                156 non-null    float64
 6   Explained by: Social support                156 non-null    float64
 7   Explained by: Healthy life expectancy       156 non-null    float64
 8   Explained by: Freedom to make life choices  156 non-null    float64
 9   Explained by: Generosity                    156 non-null    float64
 10  Explained by: Perceptions of corruption     156 non-null    float64
dtypes: float64(10), object(1)
memory usage: 13.5+ KB

I noticed it was a fixed widths file so I did read_fwf. After loading in the file with the fixed widths, I noticed that there were no column names, so I set names=column_names

## Problem 2
This problem walks through how to wrangle some difficult real-world Excel data into Python. This problem is guided, but later in the semester you'll be asked more often to do work with less guidance. 

The file named "epa_data.xlsx" contains data on the reproduction and growth of nine different plant species, measured once in 2010 and once in 2011. The data were compiled from the [EPA's repository](https://catalog.data.gov/dataset/18-excel-spreadsheets-by-species-and-year-giving-reproduction-and-growth-data-one-excel-sp) on data.gov. I placed all of the data into a single file, where the different species/year combinations are placed in different sheets. The file also includes a sheet for herbicide treatment chemistry data, and one sheet for a ReadMe describing some of the columns in the growth data.

### Part a
If you load an Excel file with multiple sheets into Python using the `sheet_name=None` argument, then every sheet's data will be stored in one big Python dictionary. 

We will discuss dictionaries (and JSON formatted data) in depth in module 3. However, for this problem, there a few points to know about dictionaries:

* Dictionaries are similar to lists, except that they are denoted with curly braces {} instead of square braces [], and that entries in the dictionary are indexed by names instead of numeric positions.

* Entries in a dictionary are called values, and the names attached to the entries are called keys. Your output will set the former sheet names as the keys for each data table.

* To display one of the values, call the Python variable that contains the dictionary, and index it by the value's key. For example, if you save the data as `epadata`, then you can see the 2010 data for species CALE by typing `epadata['CALE 2010']`. 

Load all of the data, across all of the sheets, from this Excel file into Python. Then index to one of the values in the resulting dictionary to display one of the former sheets as a pandas dataframe. [8 points]

In [55]:
epa = pd.read_excel('epa_data.xlsx', sheet_name=None)

In [57]:
epa.keys()

dict_keys(['CALE 2010', 'CALE 2011', 'ELGL 2010', 'ELGL 2011', 'ERLA 2010', 'ERLA 2011', 'FEID 2010', 'FEID 2011', 'FRVI 2010', 'FRVI 2011', 'IRTE 2010', 'IRTE 2011', 'POGR 2010', 'POGR 2011', 'PRVU 2010', 'PRVU 2011', 'RAOC 2010', 'RAOC 2011', 'Solution Chemistry', 'ReadMe'])

In [58]:
epa['ELGL 2010']

,Year,Species,site,plot,trt,Treatment,panicles,sqrtpanicles,cover0,arsincover0,...,arsincover5,matureseeddw,logmatureseeddw,immatureseeddw,logimmatureseeddw,totalseeddw,logtotalseeddw,percentimmatureseeds,arsinpercentimmatureseeds,Final Comments
0,2010,ELGL,Botany,300,2,No Spray,63.0,7.937254,11.0,0.338065,...,0.201358,9.3072,0.968820,0.2161,-0.66533,9.5233,0.978788,2.269171,0.151213,NaN
1,2010,ELGL,Hyslop,13,5,Roundup 0.01,40.0,6.324555,13.0,0.368863,...,0.174083,10.1722,1.007415,0.3724,-0.42898,10.5446,1.023031,3.531665,0.189051,NaN
2,2010,ELGL,Hyslop,188,5,Roundup 0.01,16.0,4.000000,2.0,0.141897,...,0.100167,2.4754,0.393647,0.0909,-1.04139,2.5663,0.409309,3.542064,0.189333,NaN
3,2010,ELGL,Botany,206,7,Rdup/Bnvl 0.01,89.0,9.433981,40.0,0.684719,...,0.321751,22.0009,1.342441,0.8098,-0.09162,22.8107,1.358139,3.550088,0.189550,NaN
4,2010,ELGL,Hyslop,114,2,No Spray,1.0,1.000000,2.0,0.141897,...,0.100167,0.3969,-0.401310,0.0154,-1.81220,0.4123,-0.384780,3.735144,0.194489,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
123,2010,ELGL,Botany,314,3,Banvel 0.01,0.0,0.000000,1.0,0.100167,...,0.000000,0.0000,-5.000000,0.0000,-5.00000,0.0000,-5.000000,NaN,NaN,NaN
124,2010,ELGL,Hyslop,36,7,Rdup/Bnvl 0.01,14.0,3.741657,5.0,0.225513,...,0.141897,2.3142,0.364403,NaN,NaN,NaN,NaN,NaN,NaN,"Omitted immature seed dry weight, could not ve..."
125,2010,ELGL,Hyslop,181,5,Roundup 0.01,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Omitted plant, replaced before season"
126,2010,ELGL,Botany,302,3,Banvel 0.01,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Omitted plant, replaced before season"
127,2010,ELGL,Botany,375,3,Banvel 0.01,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Omitted plant, likely wrong species"

### Part b
To see all of the keys in the dictionary, use the `.keys()` method on the data dictionary you created in part a. If you do, you will notice that two keys are not like the others:

* `Solution Chemistry` contains different data: information about common pesticides instead of the growth and reproduction of a particular species of plant.

* `ReadMe` contains descriptions of some columns in the species-level data.

To delete a key and value from a dictionary, use the following syntax `del d[key]`, where `d` is the Python variable that contains the dictionary, and `key` is the name (quotes included) of the key attached to the value you want to remove from the dictionary. If you use this command, the dictionary is altered *in place*, meaning that there is no need to write `d=` before this command in order to make these edits to the dictionary permanent.

Delete the `Solution Chemistry` and `ReadMe` data from the dictionary. [8 points]

In [59]:
epa.keys()

dict_keys(['CALE 2010', 'CALE 2011', 'ELGL 2010', 'ELGL 2011', 'ERLA 2010', 'ERLA 2011', 'FEID 2010', 'FEID 2011', 'FRVI 2010', 'FRVI 2011', 'IRTE 2010', 'IRTE 2011', 'POGR 2010', 'POGR 2011', 'PRVU 2010', 'PRVU 2011', 'RAOC 2010', 'RAOC 2011', 'Solution Chemistry', 'ReadMe'])

In [60]:
del epa['Solution Chemistry']
del epa['ReadMe']

In [61]:
epa.keys()

dict_keys(['CALE 2010', 'CALE 2011', 'ELGL 2010', 'ELGL 2011', 'ERLA 2010', 'ERLA 2011', 'FEID 2010', 'FEID 2011', 'FRVI 2010', 'FRVI 2011', 'IRTE 2010', 'IRTE 2011', 'POGR 2010', 'POGR 2011', 'PRVU 2010', 'PRVU 2011', 'RAOC 2010', 'RAOC 2011'])

### Part c
Combining two data tables with the same columns but entirely different rows is called **appending** data. Our goal is to append all of the remaining data tables together, to create one large dataframe containing all plant species and both 2010 and 2011 data. 

It is only possible, however, to append data if both data tables have exactly the same column names. If a column in one table is not matched in the other table, the column will be populated with missing values for the rows that come from the second table. There are two reasons why columns might not match: the two tables might not contain the same features, or the two tables contain the same feature but named differently in each table. 

For example, in this case, some of the sheets have columns that others do not, such as biomass. Other features are present in every sheet, but with different names: year is sometimes spelled with a capital Y.

To deal with these issues, we will use a loop over the keys in the dictionary you edited in part b. Begin the loop by typing 
```
for df in d.keys():
```
where `d` is the name of your dictionary.

On the next line, indent (which indicates this line should be run within the loop). Then write
```
d[df].columns = d[df].columns.str.lower()
```
which will alter all column names across all of the dataframes to be lower-case.

In addition, some of the column names have extra spaces at the end, and that will make columns fail to match as well. To remove these spaces, add the following line to the loop:

```
d[df].columns = d[df].columns.str.strip()
```
which removes leading and trailing spaces from each column name. [10 points]

In [63]:
for df in epa.keys():
    epa[df].columns = epa[df].columns.str.lower()
    epa[df].columns = epa[df].columns.str.strip()

### Part d
Use the `pd.concat()` method to append all of the dataframes in your dictionary together. You can pass the entire dictionary to the first argument of `pd.concat()`. Specify `ignore_index=True`, which resets the row numbering instead of bringing in the old row numbers from the individual dataframes. [8 points]

In [66]:
epa = pd.concat(epa, ignore_index=True)

### Part e
Many of the features that were brought into the appended dataframe were only present for one or a small number of the dataframes. Keep only the following features, which are present for most of the species:

In [67]:
cols_to_keep = ['year', 'species', 'site', 'plot', 'trt', 'treatment', 
                'pods', 'cover0', 'arsincover0', 'cover3', 'arsincover3', 
                'cover5', 'arsincover5']

In [69]:
epa = epa[cols_to_keep]

In [70]:
epa

,year,species,site,plot,trt,treatment,pods,cover0,arsincover0,cover3,arsincover3,cover5,arsincover5
0,2010,CALE,Hyslop,4,6,Roundup 0.1,1.0,1.0,0.100167,2.00,0.141897,NaN,NaN
1,2010,CALE,Hyslop,12,7,Rdup/Bnvl 0.01,6.0,2.0,0.141897,1.00,0.100167,NaN,NaN
2,2010,CALE,Hyslop,13,5,Roundup 0.01,8.0,2.0,0.141897,2.00,0.141897,NaN,NaN
3,2010,CALE,Hyslop,15,1,Carrier Control,3.0,1.0,0.100167,1.00,0.100167,NaN,NaN
4,2010,CALE,Hyslop,17,3,Banvel 0.01,0.0,1.0,0.100167,2.00,0.141897,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...
2299,2011,RAOC,Botany,370,8,Rdup+Bnvl 0.2,NaN,0.2,0.044736,NaN,NaN,NaN,NaN
2300,2011,RAOC,Botany,377,3,Banvel 0.1,NaN,0.5,0.070770,0.30,0.054800,NaN,NaN
2301,2011,RAOC,Botany,379,4,Banvel 0.2,NaN,0.3,0.054800,0.20,0.044736,NaN,NaN
2302,2011,RAOC,Botany,380,2,No Spray,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2303,2011,RAOC,Botany,382,4,Banvel 0.2,NaN,0.2,0.044736,0.05,0.022363,NaN,NaN

Then save the resulting data in a separate CSV file. [8 points]

In [71]:
epa.to_csv('epa_data_clean.csv', index=False)